#notes {
    display: flex;
    flex-wrap: wrap;
}

.note {
    padding: 10px;
    background: green;
    color: white;
    border-radius: 10px;
    margin: 10px;
    min-width: 150px;
    min-height: 200px;
}

.titleHTML {
    text-align: center;
    color: whitesmoke;
}

h1, p {
    margin: 0;
}

.textHTML {
    background: rgb(50, 148, 50);
    padding: 4px;
    border-radius: 10px;
}